---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Aikido in Hoofddorp en Gouda">
	<section class="gridContainer_12 callToAction">
		<article class="alignCenter" role="main">
			<h1>Aikido in Hoofddorp en Gouda</h1>
		</article>

		<h2 class="alignCenter">
			<em>“The Gentlemens Fighting Art“</em>
		</h2>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow">
			<div class="grid_4 grid_prefix_2">
				<h2>Aikido</h2>

				<p>De originele AIKIDO beginselen zijn op basis van <strong>traditionele Japanse
						krijgskunsten</strong> en <strong>Shinto</strong> filosofie in de 20e eeuw ontwikkeld
					door O'- Sensei Ueshiba Morihei en een tiental Uchideshi oftewel "Die Hard Students".</p>

				<p>Yes, it is true: "One man can make a difference!"</p>

				<div class="photoCorners"><img class="photo resImg" alt="O' Sensei Morihei Ueshiba"
						src="/img/content/2013/04/o-sensei-ueshiba-morihei-color.jpg" /></div>

				<small><em>O' Sensei - Morihei Ueshiba</em></small>

				<p>De strategie van AIKI beoogt een natuurlijke harmonie van lichamelijke en geestelijke energie
					via het pad van de tegenwoordige strijder.</p>

				<div>AIKIDO is een <strong>moderne krijgskunst</strong>. Een heldere geest, de juiste houding en
					actie op het goede moment resulteren in controle van een tegenstander én balans in jezelf.
				</div>

				<ul>
					<li>Ontwapenende technieken met het mes (Tanto) snijden aan meerdere kanten. </li>
					<li>Aandacht bij de dingen die je doet en consequenties van handelingen op het scherpst van
						de snede, oefenen we met het zwaard ( Katana / boken). </li>
					<li>Het gevoel voor ritme, afstand en timing (Ma-Ai) ontstaat na 10.000 reinigende slagen
						met de stok (Jo), en resulteert uiteindelijk in “Speerituele“ ontwikkeling.</li>
				</ul>
			</div>

			<div class="grid_4">
				<h2>Aikido Ishokan visie</h2>

				<p>De beoefening van AIKIDO bij ISHOKAN brengt je waardevolle gezondheid en kameraadschap.</p>

				<p>AIKIDO is as it is, "<strong>A way to go in harmony &amp; energy.</strong>"</p>

				<v>
					Het ISHOKAN motto is <strong>"ichi nichi isho", "een dag, een lach, een leven..."</strong>
				</v>

				<div class="photoCorners"><img class="photo resImg" alt="Ishokan"
						src="/img/content/2013/04/ishokan-03.jpg" /></div>

				<p>Samen intensief trainen bij ISHOKAN foundation is met vreugdevolle aandacht ruimte creëeren
					voor een gezonde fysieke ontwikkeling en spiritueel rechtvaardige houding. </p>

				<p>Bart is NOC-NSF internationaal <strong>erkend Leraar Martial Arts</strong>. Hij verdiept zich
					voortdurend in <strong>AIKIDO</strong> en de tegenwoordige <strong>Samurai</strong>
					vaardigheden <strong>Kyudo (pijl en boog), Kendo (zwaard), Hado (gezondheid met Essentiële
						Oliën en humor om te lachen), Chado (theeceremonie na de les) en Shodo (Japanse
						Calligraphy)</strong>. </p>

				<p>Zijn natuurlijke strategie in de Aikidojo en op het strijdtoneel van het dagelijks leven is
					soepel en gezond zijn van lichaam en geest. </p>

				<p>"<strong>Glimlachen is een elegante manier om een tegenstander je tanden te laten
						zien!</strong>"</p>

			</div>
		</div>

		<div class="gridRow">
			<p class="alignCenter">
				Meer informatie / aanmelden:<br>
				<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
			</p>

			<p class="alignCenter">
				<a href="/img/content/2014/08/ishokan-aikido-flyer-2015.pdf" target="_blank">Ishokan
					Aikido informatie flyer 2015</a> (PDF)
			</p>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow alignCenter">
			<p>
				<img src="/img/content/2013/12/sportfair.png" alt="Sportfair, Haarlemmermeer, 2013"
					style="margin-right: 40px;">
				<a href="http://www.jbn.nl/" target="_blank" title="JBN website">
					<img src="/img/content/2014/01/judo-bond-nederland-logo-01.png"
						alt="Judo Bond Nederland">
				</a>
			</p>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow alignCenter">
			<h2>Ishokan stage foto's (Musubi)</h2>
			<br><br>
			<p>
				<a href="http://musubi.nl/" target="_blank"><img
						src="/img/content/2014/03/musubi-logo.png" alt="Musubi"></a>
			</p>
			<ul>
				<li><a href="http://www.musubi.nl/ZZ_oudesite/webpagina%27s/foto_albums/stage20060205/index.html"
						target="_blank">2006 - District stage ZH 5 feb 2006 bij Musubi te Lisse</a></li>
				<li><a href="http://www.musubi.nl/ZZ_oudesite/webpagina%27s/foto_albums/stage20070107/Stage_07-01-2007.html"
						target="_blank">2007</a></li>
				<li><a href="http://www.musubi.nl/ZZ_oudesite/webpagina%27s/foto_albums/stage20080106/stage_20080106.html"
						target="_blank">2008</a></li>
				<li><a href="http://www.musubi.nl/ZZ_oudesite/webpagina%27s/foto_albums/stage20090104/Stage20090104.html"
						target="_blank">2009</a></li>
				<li><a href="http://www.musubi.nl/ZZ_oudesite/webpagina%27s/foto_albums/stage20100103/album/stage20100103.html"
						target="_blank">2010 - Aikido stage 3 jan 2010</a></li>
				<li><a href="http://www.musubi.nl/ZZ_oudesite/webpagina%27s/foto_albums/stage20110109/stage201100926.html"
						target="_blank">2011 - Nieuwjaarsstage 9 januari 2011</a></li>
				<li><a href="http://www.musubi.nl/index.php/foto-albums/category/28-06012013musubinieuwjaarsstage.html"
						target="_blank">2013 - Musubi Nieuwjaarsstage</a></li>
				<li><a href="http://www.musubi.nl/index.php/foto-albums/category/37-05-01-2014-nieuwjaarsstage-bart-wilffert-en-jan-rusman.html"
						target="_blank">2014 - Nieuwjaarsstage Bart Wilffert en Jan Rusman</a></li>
			</ul>

			<p>
				<a href="http://musubi.nl/index.php/foto-albums/category/1-stage-fotos.html"
					target="_blank"><em>Overige stage foto's Musubi</em></a>
			</p>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow alignCenter">
			<h3>Erepromotie Aikikai voor 11 Nederlandse aikidoka</h3>
			<p>
				&nbsp;
			</p>
			<div class="photoCorners">
				<img src="/img/content/2014/01/kagami-mochi-promotie-01.jpg"
					alt="Erepromotie Aikikai voor 11 Nederlandse aikidoka">
			</div>

			<p>
				Bij de Japanse nieuwjaarsceremonie op 11 januari (kagami biraki) heeft de Aikikai so honbu in
				Tokyo 11 Nederlandse aikidoka vereerd met een <a
					href="http://www.aikikai.or.jp/jpn/info/2014/h26.pdf">bijzondere promotie</a>. De JBN heeft
				hen voorgedragen om hun grote verdienste voor het aikido.
			</p>

			<div class="gridRow">
				<div class="grid_4">
					<strong>7e dan</strong><br>
					Pierre Geraedts<br>
					Carel Zappeij
				</div>
				<div class="grid_4">
					<strong>6e dan</strong><br>
					Carool Janssen<br>
					Chris de Jongh<br>
					Harry Kat<br>
					Jan Rusman<br>
					Ton Zwalve
				</div>
				<div class="grid_4">
					<strong>5e dan</strong><br>
					Maarten Huiskamp<br>
					Gijs Schouten<br>
					Bart Wilffert<br>
					Lily Zappeij
				</div>
			</div>

			<div class="gridRow">
				<p>
					Zij vervullen elk al lange tijd een belangrijke rol bij nationale en districtsstages,
					danexamens, opleidingen of de bestuurlijke organisatie van aikido in Nederland en Europa.
					Deze bijzondere promotie is een mooie waardering voor de buitengewone inzet waarmee zij
					aikido sterker hebben gemaakt.
				</p>
				<p>
					Van harte dank én gefeliciteerd namens de JBN!
				</p>
			</div>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow">
			<div class="grid_4 grid_prefix_2">
				<h2>Dojo in Hoofddorp</h2>

				<p>
					<a href="https://maps.google.com/maps?q=Schuilenburg+3,+Hoofddorp&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,93.076172&amp;t=h&amp;hnear=Schuilenburg+3,+2135+GJ+Hoofddorp,+Haarlemmermeer,+Noord-Holland,+The+Netherlands&amp;z=16"
						target="_blank">
						Gymzaal "de Veste", Schuilenburg 3, Hoofddorp
					</a>

					<br>
					<em>(sport-ingang fietspad)</em>
				</p>

				<p>
					Aikido lessen voor gentlemen vanaf ca.15 jaar in Hoofddorp zijn op maandag- en
					donderdagavond vanaf <strong>20:15 tot 21:45 uur</strong>.
				</p>
			</div>

			<div class="grid_4">
				<h2>Dojo in Gouda</h2>
				<p>
					<a href="https://maps.google.com/maps?q=Middenmolenlaan+68,+Gouda,+The+Netherlands&amp;hl=en&amp;ll=52.007631,4.743991&amp;spn=0.009378,0.022724&amp;sll=52.007135,4.744484&amp;sspn=0.002358,0.005681&amp;t=h&amp;hnear=Middenmolenlaan+68,+2807+EC+Gouda,+Zuid-Holland,+The+Netherlands&amp;z=16"
						target="_blank">
						Gymzaal basischool 't Palet Middenmolenlaan 68, Gouda
					</a>

					<br>

					<em>(ingang schoolplein)</em>
				</p>

				<p>Aikido lessen in Gouda voor gentlemen op woensdagavond vanaf ca.15 jaar van <strong>20:00 tot
						21:30 uur</strong>.</p>
			</div>
		</div>

		<div class="gridRow">
			<h2 class="alignCenter">Dojo in Barendrecht</h2>

			<p class="alignCenter">
				<a href="https://www.google.com/maps/place/Linge+24,+2991+RL+Barendrecht,+Netherlands/@51.8549272,4.5504709,17z/data=!3m1!4b1!4m2!3m1!1s0x47c432194fe2d611:0x62b630c4b4d487c9"
					target="_blank">Praktijk SOLALING, Linge 24, Barendrecht</a>
			</p>

			<p class="alignCenter">
				Aiki Do-in, Misogi Massage op afspraak via <a
					href="mailto:younglivingmarjoeska@gmail.com">younglivingmarjoeska@gmail.com</a>
			</p>
		</div>

		<div class="gridRow">
			<p class="alignCenter">
				<a href="/img/content/2014/08/ishokan-aikido-flyer-2015.pdf" target="_blank">Ishokan
					Aikido informatie flyer 2015</a> (PDF)
			</p>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow alignCenter">
			<h2>Youtube links</h2>

			<p>
				<a title="Bart Wilffert, Youtube"
					href="http://www.youtube.com/results?search_query=bart+wilffert&amp;search_type=videos&amp;search_sort=video_date_uploaded"
					target="_blank">Bart Wilffert, Youtube filmpjes</a>
			</p>

			<p>
				<a href="http://www.youtube.com/watch?v=d7FK9maXle0" target="_blank">Sportfair</a>
			</p>

			<p>
				<a href="http://www.youtube.com/watch?v=5R1FGBA-nHg" target="_blank">Hombu dojo members - 51st
					aikido embukai 2013</a>
			</p>

			<h3>Samurai Spirit: Aikido (Documentary TV series)</h3>

			<iframe width="560" height="315" src="//www.youtube.com/embed/L822AHdYzcg" frameborder="0"
				allowfullscreen></iframe>

			<h3>O-sensei Aikido Demonstration Tokyo 1957</h3>

			<iframe width="420" height="315" src="//www.youtube.com/embed/30Sa0PLquFg" frameborder="0"
				allowfullscreen></iframe>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow alignCenter">
			<h2>Aikido Dojo-regels</h2>

			<p>Tijdens de intensieve training en dagelijkse studie van Aikido is je belangrijkste aandachtspunt
				de gedegen ontwikkeling tot een drie-eenheid van Wapen, Lichaam en Geest. (Musubi, Sanmi-ittai).
				Het uiteindelijke doel van Aikido beoefenen is Waarheid, Goedheid en Zuiverheid. (Shin, Zen,
				Bi.)</p>

			<h3>Waarheid (Technische vorm)</h3>

			<p>
				Het uitgesproken woord en afgeschoten pijlen keren niet weer. (Shin, Kokoro)<br>
				<em>Eerste regel: Bezint eer gij begint en behandel anderen zoals je zelf behandeld wilt worden.
					(Yo)</em>
			</p>

			<h3>Goedheid (Waardig Gedrag)</h3>

			<p>
				De zwaardheilige vernietigt het kwade met één virtuoze slag. (Zen , Kensei )<br>
				<em>Tweede regel: Wat gij niet wil dat u geschiedt doe dat ook een ander niet. ( In,
					Reishiki)</em>\
			</p>

			<h3>Zuiverheid (Natuurlijke gezondheid)</h3>

			<p>
				De meester beweegt ogenschijnlijk moeiteloos als vanzelf. (Bi, Ten Jin Chi , Ki nagare)<br>
				<em>Derde regel: Uw zelf reinigen door met universele ademkracht te handelen. (Misogi,
					Kokyu)</em>
			</p>

			<h3>Belangrijkste begrippen, handelswijzen en gezegden in de ISHOKAN aikidojo</h3>

			<table cellspacing="0" class="dojo-rules">
				<tbody>
					<tr>
						<td><strong>Onegai shimasu:</strong></td>
						<td>Elkaar helpen. Geen woorden maar daden.</td>
					</tr>
					<tr>
						<td><strong>Jo in Musubi:</strong></td>
						<td>Gezamenlijk een geconcentreerde dynamische atmosfeer creëren.</td>
					</tr>
					<tr>
						<td><strong>Kamae:</strong></td>
						<td>Juiste veerkrachtige positie. Strijdvaardig.</td>
					</tr>
					<tr>
						<td><strong>Nanakorobi Yaoki:</strong></td>
						<td>7 x vallen, 8 x opstaan. Niet uit 't veld laten slaan. Doorzettingsvermogen.</td>
					</tr>
					<tr>
						<td><strong>Aiki:</strong></td>
						<td>Strategie van harmonie en efficient gebruik van energie.</td>
					</tr>
					<tr>
						<td><strong>Rei:</strong></td>
						<td>Respectvol communiceren. Buigen als bamboe in plaats van breken.</td>
					</tr>
					<tr>
						<td><strong>Bushido:</strong></td>
						<td>Het pad van de waarachtige krijger en rechtvaardige strijder.</td>
					</tr>
					<tr>
						<td><strong>Sensei:</strong></td>
						<td>De leraar die spirituele kennis en waardevolle vaardigheden meester is.</td>
					</tr>
					<tr>
						<td><strong>Shisei Shizentai</strong></td>
						<td>Oprechte natuurlijke houding van lichaam en geest.</td>
					</tr>
					<tr>
						<td><strong>Masagatsu agatsu</strong></td>
						<td>Ware overwinning is zelfoverwinning. Zuiverheid van hart.</td>
					</tr>
					<tr>
						<td><strong>Ichi Go, Ichi E:</strong></td>
						<td>De eerste indruk. Eén kans om het goed te doen.</td>
					</tr>
					<tr>
						<td><strong>Ichi Nichi Issho:</strong></td>
						<td>Een dag, een lach, een leven.</td>
					</tr>
					<tr>
						<td><strong>Arigato gozaimasu:</strong></td>
						<td>Dank u wel.</td>
					</tr>
				</tbody>
			</table>

			<div class="gridRow">
				<hr>
			</div>

			<h2>Ishokan Aikido Kyu examen eisen</h2>

			<p>
				Wil je examen doen dan vooraf het betreffende examen vertalen en de vragen beantwoorden.
			</p>

			<p class="alignCenter"><img src="/img/content/2013/04/aikido-door-o-sensei.png"
					alt="Aikid, door O'Sensei"></p>

			<ul>
				<li><a href="/img/content/2014/06/ishokan-6-kyu-aikido-examen.pdf">Aikido 6e Kyu examen
						eisen</a> (PDF)</li>
				<li><a href="/img/content/2014/06/ishokan-5-kyu-aikido-examen.pdf">Aikido 5e Kyu examen
						eisen</a> (PDF)</li>
				<li><a href="/img/content/2014/06/ishokan-4-kyu-aikido-examen.pdf">Aikido 4e Kyu examen
						eisen</a> (PDF)</li>
				<li><a href="/img/content/2014/06/ishokan-3-kyu-aikido-examen.pdf">Aikido 3e Kyu examen
						eisen</a> (PDF)</li>
				<li><a href="/img/content/2014/06/ishokan-2-kyu-aikido-examen.pdf">Aikido 2e Kyu examen
						eisen</a> (PDF)</li>
				<li><a href="/img/content/2014/06/ishokan-1-kyu-aikido-examen.pdf">Aikido 1e Kyu examen
						eisen</a> (PDF)</li>
			</ul>

			<p>
				<em>Download de Ishokan Aikido Kyu graden examen eisen als PDF.</em>
			</p>

			<div class="gridRow">
				<hr>
			</div>

			<h2>Foto's Gouda</h2>

			<div class="photoCorners">
				<img src="/img/content/2013/04/ishokan-bart-wilffert-dennis-burger-boken-01.jpg"
					alt="Ishokan, Kamiza, spring 2013">
			</div>

			<div class="gridRow">
				<hr>
			</div>

			<h2>Ishokan Kamiza</h2>

			<div class="photoCorners">
				<img src="/img/content/2013/04/ishokan-kamiza-spring-2013-01.jpg"
					alt="Ishokan, Kamiza, spring 2013">
			</div>

			<div class="photoCorners">
				<img src="/img/content/2013/04/ishokan-kamiza-spring-2013-02.jpg"
					alt="Ishokan, Kamiza, spring 2013">
			</div>

			<p class="alignCenter">
				<a href="http://www.aikikai.or.jp/eng/">Website van Aikikai Honbu Dojo, Tokyo Japan</a>
			</p>

			<div class="gridRow">
				<hr>
			</div>

			<div class="photoCorners alignCenter">
				<img src="/img/content/2014/08/sword-of-purification-ishokan-01.jpg"
					alt="Aikido thema: Sword of Purification;met Young Living essential oils voor reiniging van lichaam en geest.">
			</div>

			<p>Aikido thema: Sword of Purification;met Young Living essential oils voor reiniging van lichaam en
				geest.</p>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow">
			<p class="alignCenter"><a href="/organogram">Ishokan Organogram</a></p>
		</div>


		<div class="gridRow">
			<p class="alignCenter">
				Meer informatie / aanmelden:<br>
				<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
			</p>
		</div>
	</section>
</Layout>