---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Creations">	
	<section class="gridContainer_12 callToAction slideShow">
		<div class="gridRow">
			<div class="grid_10 grid_prefix_1">
				<article class="alignCenter" role="main">
					<h1>Creations</h1>

					<h2 style="text-align: center;">ISHOKAN</h2>

					<div class="gridRow">
						<hr />
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><img src="/img/content/2013/04/aqaiqion-02.jpg"
								loading="eager" fetchpriority="high" width="694" height="420" alt="Aqaiqion" /></div>
					</div>

					<p style="text-align: center;">Onze missie is in een "dojo" de mogelijkheden te bieden voor
						de ontwikkeling van een dynamische geest in een gezond lichaam. Met een samenvoeging van
						harmonie en energie bevorderende activiteiten, in een natuurlijke omgeving ontstaat
						recreativiteit ...</p>

					<p class="alignCenter">Meer informatie / aanmelden:

						<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
					</p>

					<div class="gridRow">
						<hr />
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><img src="/img/content/2013/04/aqaiqion-03.jpg"
								loading="lazy" alt="Aqaiqion" /></div>
					</div>

					<p style="text-align: center;">Weldadige welzijn bevorderende omgeving</p>

					<div class="gridRow">
						<hr />
					</div>

					<h2 class="alignCenter" style="margin-bottom: 60px;">Akita, Japanse honden</h2>

					<div style="text-align: center;">
						<div class="photoCorners"><img
								src="/img/content/2014/06/ishokan-koishow-2014-01.jpg"
								loading="lazy" alt="Akita, Japanse honden" /></div>
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><img
								src="/img/content/2014/06/ishokan-koishow-2014-02.jpg"
								loading="lazy" alt="Akita, Japanse honden" /></div>
					</div>

					<div class="gridRow">
						<hr />
					</div>

					<h2 class="alignCenter" style="margin-bottom: 60px;">Design Dojo</h2>

					<div style="text-align: center;">
						<div class="photoCorners"><img src="/img/content/2013/04/aqaiqion-08.jpg"
								loading="lazy" alt="Aqaiqion" /></div>
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><img src="/img/content/2013/04/aqaiqion-09.jpg"
								loading="lazy" alt="Aqaiqion" /></div>
					</div>

					<p style="text-align: center;">Kabeltracé benoemen Japanse tuinaanleg</p>

					<div class="gridRow">
						<hr />
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><img src="/img/content/2013/04/aqaiqion-10.jpg"
								loading="lazy" alt="Aqaiqion" /></div>
					</div>

					<p style="text-align: center; margin-top: 20px;">Functies benoemen PVE binnen ruimte
						samengesteld uit 3 eenheden 12x12m (harde vloer, zachte vloer, beheer). Veilige
						buitenruimte "zen~tuin".</p>

					<div class="gridRow">
						<hr />
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><img src="/img/content/2013/04/aqaiqion-11.jpg"
								loading="lazy" alt="Aqaiqion" /></div>
					</div>

					<p style="text-align: center;">Een "dojo" is niet alleen een "ruimte van verlichting" voor
						intensieve training het is ook een ideologische plek voor studie, samen zijn,
						vriendschap en respect!</p>

					<div class="gridRow">
						<hr />
					</div>

					<div style="text-align: center;">
						<div class="photoCorners"><a href="http://solaling.webklik.nl"><img
									src="/img/content/2013/09/klussen-tranquil-stress-lavendelolie.jpg"
									loading="lazy" alt="Klussen, tranquil, lavendel olie" /></a></div>
					</div>

					<div class="gridRow">
						<hr />
					</div>

					<h3>Toriiiiii</h3>

					<iframe src="//www.youtube.com/embed/N6P6wtCFsw0" width="560" height="315" frameborder="0"
						allowfullscreen="allowfullscreen"></iframe>

					<div class="gridRow">
						<hr />
					</div>

					<p class="alignCenter">Meer informatie / aanmelden:
						<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
					</p>
				</article>
			</div>
		</div>
	</section>
</Layout>