---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Hado">
	<div class="photoCorners"><img src="/img/content//2013/04/hotei-02.jpg" alt="Hotei"></div>

	<div class="gridRow">
		<h2 class="alignCenter">Lachen is gezond (Hotei)</h2>
	</div>

	<div class="gridRow">
		<hr>
	</div>

	<div class="gridRow">
		<h2 class="alignCenter">Natural health and wellness</h2>
	</div>

	<div class="photoCorners"><img src="/img/content//2013/05/oils-for-misogi-solaling-01.jpg" alt="So La Ling, Oils for Misogi, for body and mind"></div>

	<div class="gridRow">
		<hr>
	</div>

	<h2>Aanbrengen</h2>

	<table cellspacing="0" class="fullWidth oils oils1">
		<thead>
			<tr>
				<th class="col1">Olie aanbrengen</th>
				<th class="col2">Voornaamste bestanddelen</th>
				<th class="col3">Belangrijkste werking </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Purification</td>
				<td>Citronella, lavandin, melaleuca alternifolia, rozemarijn, myrrthe</td>
				<td>Reinigen luchtwegen, verfrissen, desinfecteren</td>
			</tr>
			<tr>
				<td>Valor</td>
				<td>Rosewood, spruce, blue tansy, frankincense</td>
				<td>Moed, kracht, uithoudingsvermogen </td>
			</tr>
			<tr>
				<td>Cedarwood</td>
				<td>Cedarwood</td>
				<td>Aardend en ontspannend bij stress/hyperactiviteit</td>
			</tr>
			<tr>
				<td>Lavender</td>
				<td>Lavendel</td>
				<td>Helen verwondingen, nachtrust bevorderend</td>
			</tr>
			<tr>
				<td>Wintergreen</td>
				<td>Wintergreen (methyl salicylate, natural asperine)</td>
				<td>Rugpijn, gewrichtspijn, spierpijn verzachtend</td>
			</tr>
			<tr>
				<td>Stress away</td>
				<td>Vanille, limoen, copaiba, lavendel, ocotea, cederhout </td>
				<td>Ontspannend rustgevend</td>
			</tr>
			<tr>
				<td>Deep relief</td>
				<td>Pepermunt,  citroen, wintergreen,    palo santo</td>
				<td>Verlichting spierpijn / spanning</td>
			</tr>
			<tr>
				<td>Tranquil</td>
				<td>Lavendel, cederhout, roomse kamille</td>
				<td>Ondersteunt genezingsproces lichaam en geest</td>
			</tr>
			<tr>
				<td>Breath again</td>
				<td>Eucalyptus , pepermunt, myrrthe</td>
				<td>Openen luchtwegen bij benauwdheid ( astma )</td>
			</tr>
			<tr>
				<td>Valor</td>
				<td>Palisander, vijg, blue tansy, wierook</td>
				<td>Moed en kracht, volhouden, stabiliserend</td>
			</tr>
		</tbody>
	</table>

	<div class="gridRow">
		<div class="grid_3 grid_prefix_1">
			<p class="alignCenter"><img src="/img/content//2013/04/young-living-cedarwood-01.jpg" alt="Young Living, Cedarwood"></p>
		</div>

		<div class="grid_3">
			<p class="alignCenter"><img src="/img/content//2013/04/young-living-lavender-01.jpg" alt="Young Living, Lavender"></p>
		</div>

		<div class="grid_4">
			<div class="photoCorners">
				<img src="/img/content//2013/04/oils-deep-relief-valor-tranquil-01.jpg" alt="Deep relief, Valor, Tranquil">
			</div>	
		</div>
	</div>

	<div class="gridRow">
		<hr>
	</div>

	<h2>Innemen</h2>

	<table cellspacing="0" class="fullWidth oils oils2">
		<thead>
			<tr>
				<th class="col1">Olie innemen</th>
				<th class="col2">Voornaamste bestanddelen</th>
				<th class="col3">Belangrijkste werking</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Lemon</td>
				<td>Lemon (antioxidant)</td>
				<td>Detox, ontgifting, ontvet, reiniging lichaam en huid</td>
			</tr>
			<tr>
				<td>Grapefruit</td>
				<td>Grapefruit (antioxidant)</td>
				<td>Enerverend opwekkend, vetabsorberend dieet</td>
			</tr>
			<tr>
				<td>Orange</td>
				<td>Orange (antioxidant)</td>
				<td>Verfrissend, verhelderend, opwekkend</td>
			</tr>
			<tr>
				<td>Tangerin</td>
				<td>Tangerin (antioxidant)</td>
				<td>Heldere geest, vergroten zelfverzekerdheid</td>
			</tr>
			<tr>
				<td>Peppermint</td>
				<td>Peppermint (aromatic clarification, fever solution)</td>
				<td>Maag, nek, hoofd, spierpijn koelt en/of verwarmt</td>
			</tr>
		</tbody>
	</table>

	<p class="alignCenter">
		<img src="/img/content//2013/04/young-living-lemon-01.jpg" alt="Young Living, Lemon">
	</p>

	<div class="gridRow">
		<hr>
	</div>

	<p class="alignCenter">
		<img src="/img/content//2013/04/young-living-essential-oil-poster-01.jpg" alt="Young Living, poster">
	</p>

	<div class="gridRow">
		<hr>
	</div>

	<div class="photoCorners alignCenter">
		<a href="http://solaling.webklik.nl/page/home" target="_blank"><img src="/img/content//2013/04/so-la-link-graphefruit-01.jpg" alt="So La Ling, graphefruit"></a>
	</div>

	<div class="gridRow">
		<hr>
	</div>

	<div class="photoCorners alignCenter">
		<a href="http://solaling.webklik.nl/page/home" target="_blank"><img src="/img/content//2013/04/so-la-ling-lavender-01.jpg" alt="So La Ling, lavender"></a>
	</div>

	<div class="gridRow">
		<hr>
	</div>

	<div class="photoCorners alignCenter">
		<a href="http://solaling.webklik.nl/page/home" target="_blank"><img src="/img/content//2013/04/so-la-ling-cederhout-01.jpg" alt="So La Ling, cederhout"></a>
	</div>

	<div class="gridRow">
		<hr>
	</div>

	<h2>Contact</h2>

	<h6 class="alignCenter">Marjoeska</h6>

	<p class="alignCenter"><a href="mailto:younglivingmarjoeska@gmail.com">younglivingmarjoeska@gmail.com</a> <br>tel.: 06 - 517 140 28</p>

	<h6 class="alignCenter">Bart</h6>

	<p class="alignCenter"><a href="mailto:bartvanholland@ishokan.org">bartvanholland@ishokan.org</a> <br>tel.: 06 - 462 067 53</p>
</Layout>