---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welkom bij ISHOKAN foundation">
	<section class="gridContainer_12 callToAction">
		<div class="gridRow">
			<div class="grid_prefix_1">
				<main>
					<h1>Welkom bij ISHOKAN foundation</h1>

					<div class="gridRow">
						<blockquote>
							<p class="alignCenter">East west connection for mindfull bodywork &amp; meditation in motion</p>
						</blockquote>
					</div>

					<div class="gridRow">
						<div class="grid_3" style="margin-left: 40px;">
							<div class="photoCorners">
								<img
									src="/img/content/2013/09/ishokan-in-tokyo.jpg"
									width="194"
									height="285"
									class="photo"
									loading="eager"
									fetchpriority="high"
									alt="Ishokan in Tokyo, Bart Wilffert, Marjoeska Vrees"
								/>
							</div>
						</div>

						<div class="grid_3">
							<table cellspacing="0" style="margin-top: 0px;">
								<tr>
									<td class="alignCenter">
										<img src="/img/content/2013/04/hotei.png" class="resImg" loading="eager" fetchpriority="high" alt="Hotei" />
										<img
											src="/img/content/2013/04/yokosa-welcome-01.png"
											loading="eager"
											fetchpriority="high"
											alt="Yokoso (kanji), welcome, welkom"
										/>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="alignCenter">Yokoso</h2>

										<p class="alignCenter">welkom / welcome</p>
									</td>
								</tr>
							</table>
						</div>

						<div class="grid_3">
							<div class="photoCorners">
								<img
									src="/img/content/2013/07/sasaki-dojo-kamifukuoka-tokyo-bart-wilffert-marjoeska-vrees-01.jpg"
									class="photo"
									loading="eager"
									fetchpriority="high"
									width="194"
									height="285"
									alt="Sasaki dojo Kamifukuoka Tokyo, Bart Wilffert, Marjoeska Vrees"
								/>
							</div>
						</div>
					</div>

					<div class="gridRow">
						<p class="alignCenter">
							<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a><br />
							<a href="mailto:younglivingmarjoeska@gmail.com">younglivingmarjoeska@gmail.com</a>
						</p>
					</div>

					<div class="gridRow">
						<hr />
					</div>

					<div class="gridRow alignCenter">
						<h2>Season greatings with a smile</h2>

						<p>&nbsp;</p>

						<div class="videoGrid">
							<div>
								<h3>Winter / Fuyu</h3>
								<iframe width="320" height="179" src="//www.youtube.com/embed/IT3KJ3CDKxs" loading="lazy" allowfullscreen></iframe>
							</div>

							<div>
								<h3>Lente / Haru</h3>
								<iframe width="320" height="179" src="//www.youtube.com/embed/zxWi7VjilxQ" loading="lazy" allowfullscreen></iframe>
							</div>

							<div>
								<h3>Zomer / Natsu</h3>
								<iframe width="320" height="179" src="//www.youtube.com/embed/xiTG1WpqLdc" loading="lazy" allowfullscreen></iframe>
							</div>

							<div>
								<h3>Herfst / Aki</h3>
								<iframe width="320" height="179" src="//www.youtube.com/embed/YpFp8NuXOdc" loading="lazy" allowfullscreen></iframe>
							</div>
						</div>
					</div>

					<div class="gridRow">
						<hr />
					</div>

					<div class="gridRow">
						<div class="grid_7" style="position:relative;top:90px;">
							<p>
								Het motto van ISHOKAN is "een dag, een lach, een leven&#133;", een vrije vertaling van het Japanse gezegde : "<strong>
									ichi nichi isho
								</strong>&#133;".
							</p>
						</div>
						<div class="grid_3">
							<p class="alignCenter">
								<img src="/img/content/2013/04/hotei.png" loading="lazy" width="250" height="262" alt="Hotei" />
							</p>
						</div>
					</div>

					<div class="gridRow">
						<div class="grid_3">
							<p class="alignCenter"><img src="/img/content/2013/04/ichi-nichi-isho.png" loading="lazy" alt="Ichi Nichi Isho" /></p>
						</div>
						<div class="grid_7" style="position:relative;top:70px;">
							<p>
								Het doel van ISHOKAN is met vreugdevolle aandacht ruimte cre&euml;eren voor een
								<strong>gezonde fysieke ontwikkeling</strong>  en <strong>natuurlijke spirituele houding</strong> voor mens en maatschappij. Door
								samenvoeging van
								<strong>oosterse wijsheid</strong> en westerse wetenschap komen we op de gouden middenweg.
							</p>
						</div>
					</div>
					<div class="gridRow">
						<hr />
					</div>
					<div class="gridRow">
						<div class="grid_7">
							<p>De naam <strong>ISHOKAN</strong> is samengesteld uit drie karakters :</p>
							<ul>
								<li>
									"I" is van <strong>Ichi</strong> betekent  &Eacute;&Eacute;N en dezelfde klank betekent ook  <strong>
										GOED
									</strong>.
								</li>
								<li>
									"SHO" betekent <strong>LACH</strong> en dezelfde klank betekent ook
									<strong>LEVEN</strong>.
								</li>
								<li>
									"KAN" betekent <strong>SCHITTERENDE RUIMTE</strong>  en dezelfde klank betekent ook   <strong>
										VREUGDEVOLLE  DYNAMIEK
									</strong>.
								</li>
							</ul>
							<p>
								Een belangrijke kernwaarde is "<strong>Aiki</strong>".  Aiki is een harmonieuze universele natuurlijke energie die al
								millenia lang is gevormd en fijngeslepen door  samurai en shinto sensei in het oorspronkelijke land van de zon.
							</p>
						</div>
						<div class="grid_3">
							<p class="alignCenter"><img src="/img/content/2013/04/ishokan-kanji-10.png" loading="lazy" alt="Ishokan, kanji" /></p>
						</div>
					</div>
					<div class="gridRow">
						<hr />
					</div>
					<div class="gridRow">
						<div class="grid_3">
							<p class="alignCenter"><img src="/img/content/2013/04/aikido-door-o-sensei.png" loading="lazy" alt="Hotei" /></p>
						</div>
						<div class="grid_7">
							<p>
								<strong>Aiki</strong> wordt zichtbaar en voelbaar bij het waarachtig hanteren van een zwaard, pijl en boog, een penseel
								of het verzorgen van een theeceremonie, het helen van lichaam en geest, het bouwen aan een gezonde leefomgeving&#133;
							</p>
							<p>Aiki kun je niet leren maar wel beleven door bijvoorbeeld een "<strong>DO</strong>" te doen.</p>
							<p>(<strong>Aikido, Kyudo, Kendo, Shodo, Chado, Kado, Hado</strong> enz&#133;. )</p>
						</div>
					</div>
					<div class="gridRow">
						<div class="grid_7" style="position:relative;top:40px;">
							<p><strong>"DO"</strong> (karakter voor de strijder op pad door berg en dal)</p>
						</div>
						<div class="grid_3">
							<p><img src="/img/content/2013/04/do-kanji.png" loading="lazy" alt="Do, Kanji" /></p>
						</div>
					</div>
					<div class="gridRow">
						<hr />
					</div>
					<div class="gridRow">
						<div class="grid_3">
							<p class="alignCenter"><img src="/img/content/2013/04/hotei.png" class="resImg" loading="lazy" alt="Hotei" /></p>
						</div>
						<div class="grid_7">
							<h3>"The spirit of joy"</h3>
							<p>
								Dit prachtige plaatje van Hotei, die eenvoudig door te lachen op een elegante manier een tegenstander zijn tanden laat
								zien, is speciaal voor ons door
								<strong>Suganuma Sensei</strong> van de <strong>Shoheijuku aikidojo</strong> in Japan gemaakt.
							</p>
							<p>
								Het grote karakter leest "<strong>IMA</strong>" hetgeen "<strong>NU</strong>" betekent. In het westen kennen we de
								vergelijkbare uitdrukking "<strong>Carpe Diem</strong>" of op een andere manier verwoord:
							</p>
							<p class="alignCenter"><strong>"Today is a gift, that is why we call it present &#133;"</strong></p>
						</div>
					</div>
				</main>
			</div>
		</div>

		<div class="gridRow">
			<hr />
		</div>

		<div class="gridRow">
			<div class="grid_8 grid_prefix_2">
				<p>
					Wij verwelkomen u van harte in onze <a href="/aikido-in-hoofddorp-en-gouda">Aikido</a> dojo in Hoofddorp en Gouda, en ons aandachtscentrum
					voor Welzijn en Gezondheid, SOLALING te Barendrecht.
				</p>

				<p>
					Tevens komen wij ook graag naar u toe voor het verzorgen van presentaties, demonstraties, workshops, events, bijeenkomsten en
					trainingen.
				</p>
			</div>
		</div>

		<div class="gridRow">
			<p class="alignCenter">
				Meer informatie kunt u vinden op onze site of stuur een mail naar<br />
				<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a> of
				<a href="mailto:younglivingmarjoeska@gmail.com">younglivingmarjoeska@gmail.com</a>
			</p>

			<h5 class="alignCenter">Welzijn, gezondheid en vitaliteit!</h5>
		</div>

		<div class="gridRow">
			<hr />
		</div>

		<div class="gridRow">
			<div class="grid_8 grid_prefix_2 alignCenter">
				<div class="photoCorners">
					<img
						src="/img/content/2014/03/ishokan-jaar-van-het-paard-01.jpg"
						class="photo"
						loading="lazy"
						alt="Ishokan, 2014 jaar van het paard"
					/>
				</div>

				<h3 class="alignCenter">Yokoso, Welkom</h3>
			</div>
		</div>
	</section>
</Layout>

<style></style>
