---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Kyudo">
	<h1>Kyudo</h1>

	<div class="gridRow">
		<hr>
	</div>

	<section role="main" class="gridContainer_12">
		<div style="text-align: center;">
			<div class="photoCorners"><img
					loading="eager" fetchpriority="high" width="800" height="553" alt="Bart Wilffert, Kyudo memorial ceremony Tamura sensei in Aikido Ryu Jan Rusman te Haarlem"
					src="/img/content/2013/04/bart-wilffert-kyudo.jpg"></div>
		</div>
		<div style="text-align: center;"><strong>Bart Wilffert</strong>, Kyudo memorial ceremony Tamura sensei
			in Aikido Ryu <strong>Jan Rusman</strong> te Haarlem</div>
		<p style="text-align: center;">
			<a href="http://www.ikyf.org" target="_blank">www.ikyf.org</a> (internationale informatie)<br />
			<a href="http://www.kyudo-renmei.com" target="_blank">www.kyudo-renmei.com</a><br />
			<a href="http://www.enshindojo.com" target="_blank">www.enshindojo.com</a><br />
			<a href="http://www.zenboogschieten.nl" target="_blank">www.zenboogschieten.nl</a>
		</p>
	</section>
</Layout>