---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Organogram">
	<h1>Organogram</h1>

	<p class="alignCenter">
		<img src="/img/content/2013/04/ishokan-organogram-2013.jpg" width="479" height="700" loading="lazy" alt="Ishokan organogram" />
	</p>
</Layout>
