---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Samurai Synergy">	
	<section class="gridContainer_12 callToAction">
		<div class="gridRow alignCenter">

			<article role="main">
				<h1>Samurai Synergy</h1>
			</article>

		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow">
			<div class="grid_8">

				<article role="main">
					<p>Het Japanse begrip Samurai staat voor <strong>ultieme dienstverlener</strong>. Om in een
						turbulente wereld excellent te functioneren zijn Samurai goed gevormd effectieve
						krijgskunsten maar ook in andere communicatie mogelijkheden.</p>
					<p>Traditionele Samurai vaardigheden zijn nu te vinden in moderne <strong>DO</strong> ~
						disciplines; <strong>Aikido</strong> ( weg van harmonie &amp; energie ) ,
						<strong>Kyudo</strong> ( pijl &amp; boog ) , <strong>Kendo</strong> ( zwaard ) ,
						<strong>Shodo</strong> ( kalligrafie ) , <strong>Shinto</strong> ( universele kracht ) ,
						<strong>Chado</strong> ( thee ceremonie ) .
					</p>
					<p>Onder leiding van internationaal rijkserkend sensei  Bart Wilffert M.A. maakt u actief
						kennis met deze prachtige &#8220;DO&#8221; vormen voor body and mind synergy. Bart
						beweegt zich al 30 jaar enthousiast op de weg van de krijgskunstenaar. Hij is een
						gewaardeerd rijkserkend Aikidoleraar en meervoudig NL-kampioen Kyudo Nodigt u graag uit
						voor een onvergetelijke beleving van harmonie en energie.</p>
					<p><img class="alignleft size-full wp-image-328" loading="eager" fetchpriority="high" alt="do-kanji"
							src="/img/content/2013/04/do-kanji.png">Just DO it!</p>
					<p><em>&#8220;Glimlachen is, een elegante manier, om je tanden te laten zien!&#8221;</em>
					</p>
				</article>

			</div>

			<div class="grid_4">
				<div style="text-align: center;">
					<div class="photoCorners">
						<img class="resImg" src="/img/content/2013/04/Yoshitsune-Benkei.jpg"
							loading="eager" fetchpriority="high" width="298" height="421" alt="Yoshitsune en Benkei" />
					</div>
				</div>

				<p class="alignCenter"><em>Yoshitsune en Benkei</em></p>
			</div>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow">
			<div class="grid_3">
				<div style="text-align: center;">
					<div class="photoCorners"><img class="resImg" loading="lazy" alt="samurai"
							src="/img/content/2013/04/samurai-sunset.jpg"></div>
				</div>
			</div>

			<div class="grid_3">
				<div style="text-align: center;">
					<div class="photoCorners"><img class="resImg" loading="lazy" alt="samurai"
							src="/img/content/2013/04/samurai-03.jpg"></div>
				</div>
			</div>

			<div class="grid_3">
				<div style="text-align: center;">
					<div class="photoCorners"><img class="resImg" loading="lazy" alt="samurai"
							src="/img/content/2013/04/samurai-black-white.jpg"></div>
				</div>
			</div>

			<div class="grid_3">
				<div style="text-align: center;">
					<div class="photoCorners"><img class="resImg" loading="lazy" alt="samurai"
							src="/img/content/2013/04/samurai-04.jpg"></div>
				</div>
			</div>
		</div>

		<div class="gridRow">
			<hr>
		</div>

		<div class="gridRow alignCenter">
			<article>
				<div class="grid_row" style="postition:relative;left: 60px;">
					<div class="grid_3">
						<div class="photoCorners">
							<img src="/img/content/2013/09/bart-wilffert-garden-01.jpg"
								loading="lazy" alt="Bart Wilffert, Ishokan">
						</div>
					</div>

					<div class="grid_3 alignCenter" style="margin-top: 0px;margin-left: 57px;">
						<div class="photoCorners">
							<img src="/img/content/2014/01/ishokan-bart-wilffert-marjoeska-vrees-01.jpg"
								loading="lazy" alt="Ishokan, Bart Wilffert en Marjoeska Vrees">
						</div>
					</div>

					<div class="grid_4">
						<div class="photoCorners">
							<img src="/img/content/2013/09/marjoeska-vrees-garden-01.jpg"
								loading="lazy" alt="Marjoeska Vrees, Ishokan">
						</div>
					</div>
				</div>

				<div class="grid_10 grid_row grid_prefix_1">
					<h3 class="alignCenter">
						Wij heten u van harte welkom voor een fijne tijd op onze site
					</h3>
				</div>
			</article>
		</div>


		<div class="gridRow">
			<hr>
		</div>


		<div class="gridRow alignCenter">


			<h3>Samurai Japandag 2013, Den Helder</h3>

			<p>&nbsp;</p>

			<div class="photoCorners">
				<img loading="lazy" alt="Samurai Japandag 2013, Den Helder"
					src="/img/content/2013/06/samurai-japan-dag-2013-den-helder-bart-wilffert-01-300x282.jpg" />
			</div>

			<p><em>Bart Wilffert en Samurai Events</em></p>

			<p class="alignCenter">
				Meer informatie / aanmelden:<br>
				<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
			</p>

			<div class="gridRow">
				<hr>
			</div>

			<h3>Shichinin no samurai ("Seven Samurai", 1954)</h2>

				<p>&nbsp;</p>


				<div class="photoCorners">
					<img src="/img/content/2013/04/seven-samurai-shichinin-no-samurai-movie-1954.jpg"
						loading="lazy" alt="Shichinin no samurai (Seven Samurai) 1954" />
				</div>

				<p>Alltime Nr 1 samurai movie by <a href="http://en.wikipedia.org/wiki/Akira_Kurosawa">Akira
						Kurosawa</a>, zie ook <a href="http://www.imdb.com/name/nm0000041/">IMDB pagina</a></p>

				<h4>IMDB: Seven Samurai, trailer (1954)</h4>

				<iframe width="420" height="315" src="http://www.youtube.com/embed/xnRUHtSgJ9o" frameborder="0"
					allowfullscreen></iframe>

				<p>
					<a href="http://www.imdb.com/title/tt0047478/" target="_blank">Shichinin no samurai ("Seven
						Samurai", 1954) op IMDB</a>
				</p>

				<div class="gridRow">
					<hr>
				</div>

				<h2>Contact info</h2>

				<p>
					Voor een workshop, demonstratie, of een bijzondere ceremonie contact Bart Wilffert 06 - 462
					067 53 of <a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
				</p>

		</div>
	</section>
</Layout>