---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Shinto in Aikido">	
	<section class="gridContainer_12 callToAction slideShow">
		<div class="gridRow">
			<article class="grid_10 grid_prefix_1 alignCenter" role="main">
				<h1>Shinto in Aikido</h1>

				<h2 class="alignCenter">Ideology &amp;terminology</h2>

				<p class="alignCenter">Meer informatie / aanmelden:<br />
					<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
				</p>

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5 grid_prefix_1" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/floating-torii-01.jpg"
								loading="eager" fetchpriority="high" alt="Floating Torii" /></div>
					</div>

					<div class="grid_3">
						<div class="photoCorners"><img
								src="/img/content/2013/04/o-sensei-morihei-ueshiba-01.jpg"
								loading="eager" fetchpriority="high" alt="O'Sensei Morihei Ueshiba" /></div>
					</div>
				</div>

				<h3>SHINTO in AIKIDO A fibrant and joyfull gateway</h3>Torii is a smiling gate to the
				spirit of joy, vrolijke filosofie voor harmonie energie

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_2 grid_prefix_1" style="position:relative;top:0px;"><img
							src="/img/content/2013/04/kanji-01.png" loading="lazy" alt="Floating Torii" /></div>

					<div class="grid_4">
						<div class="photoCorners"><img
								src="/img/content/2013/04/sasaki-masando-sensei-uchideshi-01.jpg"
								loading="lazy" alt="Sasaki Masando Sensei Uchideshi" /></div>
					</div>

					<div class="grid_2"><img src="/img/content/2013/04/aikido-kanji.png"
							loading="lazy" alt="Aikido, kanji" /></div>
				</div>

				<h3>SHIN BU ICHI DO Shinto &amp;Budo is one way</h3>Sasaki Masando Sensei in 2007
				ISHUKAN UCHIDESHI

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_3 grid_prefix_1" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/ameterasu-o-kami-01.jpg"
								loading="lazy" alt="AMETERASU O~KAMI" /></div>
					</div>

					<div class="grid_5">
						<div class="photoCorners"><img
								src="/img/content/2013/04/bart-wilffert-kyudo02.jpg"
								loading="lazy" alt="Bart Wilffert, Kuydo" /></div>
					</div>
				</div>

				<h3>AMETERASU O~KAMI,<br />
					Spirit of Japan, origin of the sun.</h3>Animistic traditional spirituality of Japan.
				Dai NIPPON, origin of the sun. KYUDO ceremonial memorial Tamura Sensei.

				<p class="alignCenter">Meer informatie / aanmelden:<br />
					<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
				</p>

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_3 grid_prefix_1" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/izanami-izanagi-01.jpg"
								loading="lazy" alt="IZANAMI &amp;IZANAGI O-kami" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:60px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/o-sensei-morihei-ueshiba-02.jpg"
								loading="lazy" alt="O'Sensei Morihei Ueshiba" /></div>
					</div>
				</div>

				<h3>IZANAMI &amp;IZANAGI O~KAMI<br />
					Spearitual creation of Japan</h3>Creation of JAPAN male and female deity spear is jo in
				aikido.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_3 grid_prefix_1" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/susanoo-o-kami-01.jpg"
								loading="lazy" alt="SUSANOO O-kami" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:00px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/o-sensei-and-student-01.jpg"
								loading="lazy" alt="O'Sensei Morihei Ueshiba and student" /></div>
					</div>
				</div>

				<h3>SUSANOO O~KAMI<br />
					Sea &amp;storm Pacifying sword</h3>Susano (god of sea and storms) slaying the Yamata no
				Orochi.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/suratuhiko-o-kami-benten-01.jpg"
							loading="lazy" alt="Suratahiko O-kami &amp;Benten" /></div>
				</div>

				<h3>SARUTAHIKO O~KAMI &amp;BENTEN<br />
					Guidance patrons of (martial) arts</h3>Sarutahiko &#332;kami (earth deity, big nose) is
				seen as a symbol of strength and guidance, patron of martial arts such as aikido Benten
				daugther of the Dragon, patroness of music and arts. Tengu. So fast they can catch an
				arrow in flight

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img src="/img/content/2013/04/musubi-no-kami.jpg"
							loading="lazy" alt="MUSUBI no KAMI" /></div>
				</div>

				<h3>MUSUBI no KAMI</h3>Fortune creation papers folded in a knot in a tree.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_3" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/misogi-01.jpg"
								loading="lazy" alt="Misogi" /></div>
					</div>

					<div class="grid_5 grid_prefix_1" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/misogi-o-sensei-morihei-ueshiba-01.jpg"
								loading="lazy" alt="O'Sensei Morihei Ueshiba - Misogi" /></div>
					</div>
				</div>

				<h3>MISOGI<br />
					Mind &amp;Body Purification</h3>Cleansing mind and body inside and outside. Norito is
				respecting nature, ancestors and society.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img src="/img/content/2013/04/dojo-etiquette.jpg"
							loading="lazy" alt="Temple etiquette" /></div>
				</div>

				<h3>Temple Etiquette, DOJO REI</h3>Respect nature, ancestors (sensei and sempai),
				society (ukemi)

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img src="/img/content/2013/04/shin-koboro-01.jpg"
							loading="lazy" alt="Shin Kokoro, spirit of joy" /></div>
				</div>

				<h3>SHIN, KOKORO Spirit of Joy</h3>Sasaki Shihan, Shinto and aikido sensei, vibrant and
				joyful, kokoro is heart, shoshin beginners mind.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/kamiza-shinden-shomen-sanshu-no-jingi.jpg"
							loading="lazy" alt="KAMIZA, SHINDEN, SHOMEN Sanshu no jingi, three treasures" /></div>
				</div>

				<h3>KAMIZA, SHINDEN, SHOMEN<br />
					Sanshu no jingi, three treasures</h3>The Mirror
				&#20843;&#21675;&#37857;&#65288;&#12420;&#12383;&#12398;&#12363;&#12364;&#12415;&#65289;<br />

				representing the Virtue of Wisdom, mirror of illumination<br />
				The
				Jewel&#20843;&#23610;&#29898;&#21246;&#29577;&#65288;&#12420;&#12373;&#12363;&#12395;&#12398;&#12414;&#12364;&#12383;&#12414;&#65289;<br />

				representing the Virtue of Benevolence, jewel of perfection (round belly)<br />
				The
				Sword&#22825;&#21474;&#38642;&#21091;&#65288;&#12354;&#12417;&#12398;&#12416;&#12425;&#12367;&#12418;&#12398;&#12388;&#12427;&#12366;&#65289;<br />

				representing the Virtue of Valor, the pacifying sword.<br />
				Sasaki sensei dojo Kamifukuoka Tokyo<br />
				Ameterasu o mikami (sun shine, universal energy) Shichijifukujin (7 spirits of
				prosperity) Fuji-san (Devine mountain) Shimegawa and gohei (rope &amp;paper to connect)
				Sakagi (natural evergreen) Kami (spiritual paper)

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/iwama-dojo-japan-kamidana-mini-shrine.jpg"
								loading="lazy" alt="Iwama dojo Japan, Kamidana" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/munen-muso-bart-wilffert-patrick-van-engelen.jpg"
								loading="lazy" alt="Munen Muso, Bart Wilffert en Patrick van Engelen" /></div>
					</div>
				</div>

				<h3>KAMIDANA<br />
					Mini shrine to household spirit</h3>Iwama dojo Japan and Munen muso dojo Holland

				<p class="alignCenter">Meer informatie / aanmelden:<br />
					<a href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a>
				</p>

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/kototama-tori-fune-furitama-o-seinsei-01.jpg"
							loading="lazy" alt="Kototama, tori fune, furitama" /></div>
				</div>

				<h3>KOTOTAMA, TORI FUNE, FURITAMA<br />
					Words and Sounds of Power</h3>Sounds and words of power A O U E I

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/nage-ukemi-giving-receiving.jpg"
							loading="lazy" alt="Nage, Ukemi, giving and receiving" /></div>
				</div>

				<h3>NAGE &amp;UKEMI<br />
					Giving &amp;Receiving</h3>Rolling waves, the sea gives and the sea takes. Nana korobi
				Ya oki 7 times falling, 8 times standing up

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img src="/img/content/2013/04/shizen-tai-sabaki-01.jpg"
							loading="lazy" alt="Shizen, Tai Sabaki" /></div>
				</div>

				<h3>SHIZEN TAI SABAKI<br />
					Natural body movement</h3>Natural Body movement

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/ken-kan-no-metsuke-tengu-01.jpg"
							loading="lazy" alt="Ken Kan no Metsuke, tengu" /></div>
				</div>

				<h3>METSUKE</h3>Ken Kan no Metsuke. Kan is to see with eyes, Ken is to observe the
				truth with your mind (katsujinken, satsujinken) Tengu.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/katatori-shinto-ryu-temple-ma-ai-kamae.jpg"
							loading="lazy" alt="Katatori, Shinto, Ryu temple, ma-ai, kamae" /></div>
				</div>

				<h3>MA-AI (Distance) KAMAE (Posture)</h3>Kataori shinto ryu temple, distance and timing
				/ rhytm in roof and kendo, space is sun shine between doors

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img src="/img/content/2013/04/irimi-issoku-tenkan.jpg"
							loading="lazy" alt="Irimi Issoku Tenkan" /></div>
				</div>

				<h3>IRIMI ISSOKU<br />
					TENKAN</h3>Entering and turning / circling

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_3 grid_prefix_2" style="position:relative;top:0px;"><img
							src="/img/content/2013/04/kuzushi.png" loading="lazy" alt="Kuzushi" /></div>

					<div class="grid_3" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/atemi-01.jpg"
								loading="lazy" alt="Atemi" /></div>
					</div>
				</div>

				<h3>KUZUSHI &amp;ATEMI</h3>KABUKI, in~balance greatest effect. Atemi for mental
				disturbance.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/katatori-shinto-ryu-risuke-otake-01.jpg"
								loading="lazy" alt="Katatori, Shinto, Ryu Risuke Otake" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/makoto-01.jpg"
								loading="lazy" alt="Makoto" /></div>
					</div>
				</div>

				<h3>SHISEI MAKOTO<br />
					Posture &amp;Attitude</h3>Shisei is fysical and mental attitiude. Makoto is righteous
				sincere truth.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/shinto-ceremony-mask-01.jpg"
								loading="lazy" alt="Shinto ceremony masks" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/hakama-01.jpg"
								loading="lazy" alt="Hakama" /></div>
					</div>
				</div>

				<h3>OMOTE URA</h3>Mask for shinto ceremony and play, hakama lines from centre body tot
				earth.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/ki-ai-kokyu-ryoku-o-sensei-morihei-ueshiba-01.jpg"
								loading="lazy" alt="Ki Ai, kokyu ryoku" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/zanshin-o-sensei-morihei-ueshiba-01.jpg"
								loading="lazy" alt="Zanshin, O'sensei Morihei Ueshiba" /></div>
					</div>
				</div>

				<h3>KI~AI Kokyu Ryoku &amp;Zanshin</h3>Breathing power, one point energy implosion and
				explosion, breath in and breath out &hellip;

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/ten-shi-01.jpg"
								loading="lazy" alt="Ten Shi" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/ten-shi-02.jpg"
								loading="lazy" alt="Ten Shi" /></div>
					</div>
				</div>

				<h3>TEN CHI<br />
					Heaven &amp;Earth</h3>Ten Jin Chi heaven men earth sanmiitai drie~eenheid

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img
							src="/img/content/2013/04/shino-barai-shinto-4-directions.jpg"
							loading="lazy" alt="Shino Barai, purification in 4 directions" /></div>
				</div>

				<h3>SHIHO BARAI<br />
					Purification 4 directions</h3>Shinto Purificaton in 4 directions with the pacifying
				sword of aiki

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/enso-01.jpg"
								loading="lazy" alt="Enso, circle of nature" /></div>
					</div>

					<div class="grid_5" style="position:relative;top:0px;">
						<div class="photoCorners"><img src="/img/content/2013/04/kaiten-01.jpg"
								loading="lazy" alt="Kaiten" /></div>
					</div>
				</div>

				<h3>ENSO &amp;KAITEN</h3>Circle of nature, enso.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow alignCenter">
					<div class="photoCorners"><img src="/img/content/2013/04/aiki-jinja-01.jpg"
							loading="lazy" alt="Aiki Jinja" /></div>
				</div>

				<h3>Aiki jinja</h3>Whorship nature and ancestors.

				<div class="gridRow">
					<hr />
				</div>

				<div class="gridRow">
					<div class="grid_7" style="position:relative;top:40px;">
						<div class="photoCorners"><img
								src="/img/content/2013/04/sasaki-sensei-shin-hand-palm-01.jpg"
								loading="lazy" alt="Sasaki sensei, Shin hand palm" /></div>
					</div>

					<div class="grid_3" style="position:relative;top:0px;"><img
							src="/img/content/2013/04/ishokan-kanji-flag-01.png" loading="lazy" alt="Ishokan, kanji" />
					</div>
				</div>

				<h3>Domo Arigato Gozaimasu!<br />
					Kiotsukete onegaishimasu</h3>Ichi nichi isho, een dag, een lach, een leven. Kiotsukete
				kudasai. Thank you very much. Take care.

				<div class="gridRow">
					<hr />
				</div>

				<h3>Meer informatie</h3>

				<p class="alignCenter">Voor meer informatie, presentaties en of workshops / trainingen
					waarbij bijvoorbeeld het wapengebruik in aikido uitgebreid wordt toegelicht aan de hand
					van de Japanse mythologie mail <a
						href="mailto:bart.wilffert@ishokan.org">bart.wilffert@ishokan.org</a></p>

				<div class="gridRow">
					<hr />
				</div>

				<p style="text-align: center;">Shinto in Europa, <a href="http://www.shinzen.nl/"
						target="_blank">http://www.shinzen.nl/</a></p>
			</article>
		</div>
	</section>
</Layout>