---

---

<div class="footerWrapper">
	<footer class="siteWidth">
		<hr>

		<nav>
			<ul>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a
						href="/aikido-in-hoofddorp-en-gouda">Aikido</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149"><a
						href="/kuydo">Kyudo</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148"><a
						href="/shinto-in-aikido">Shinto</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a
						href="/samurai-synergy">Samurai</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a
						href="/creations">Creations</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a
						href="/hado">Hado</a></li>
			</ul>
		</nav>

		<p>&copy; 2014 Ishokan. Alle rechten voorbehouden.</p>
	</footer>
</div>

<style>

</style>