---

---

<div class="navWrapper">
	<div class="siteWidth">
		<div class="menu-mainleft-container">
			<ul id="menu-mainleft" class="nav-menu">
				<li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72">
					<a href="/aikido-in-hoofddorp-en-gouda">Aikido</a>
				</li>
				<li id="menu-item-149"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149"><a
						href="/kuydo">Kyudo</a></li>
				<li id="menu-item-148"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148"><a
						href="/shinto-in-aikido">Shinto</a></li>
			</ul>
		</div>
		<a href="/" class="logo">
			<img src="/img/ishokan-logo.png" alt="Ishokan">
		</a>

		<div class="menu-mainright-container">
			<ul id="menu-mainright" class="nav-menu">
				<li id="menu-item-174"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a
						href="/samurai-synergy">Samurai</a></li>
				<li id="menu-item-173"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a
						href="/creations">Creations</a></li>
				<li id="menu-item-175"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a
						href="/hado">Hado</a></li>
			</ul>
		</div>
	</div>
</div>