---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import SiteIsOldBanner from "@/components/SiteIsOldBanner.astro";
import GoogleAnalytics from "@/components/GoogleAnalytics.astro";

import { SITE_TITLE, AUTHOR } from "@/consts";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />

		<title>{SITE_TITLE} {title}</title>

		<link rel="dns-prefetch" href="//fonts.googleapis.com" />

		<link rel="preload" as="image" href="/img/floating-torii-website-header.png" />
		<link rel="preload" as="image" href="/img/rice-paper.jpg" />

		<meta name="generator" content={Astro.generator} />

		<meta name="author" content={AUTHOR} />

		<meta name="description" content="" />

		<meta name="copyright" content="© Ishokan 2014" />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<link
			rel="stylesheet"
			href="//fonts.googleapis.com/css?family=Lilita+One%7COpen+Sans%3A400%2C400italic%2C600&ver=4.8.1"
			type="text/css"
			media="screen"
		/>

		<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/css/print.css" rel="stylesheet" type="text/css" media="print" />

		<script type="text/javascript" src="/js/libs/modernizr.js?ver=4.8.1"></script>
	</head>
	<body class="home page-template page-template-tpl-homepage page-template-tpl-homepage-php page page-id-156 ishokan-2">
		<Header />

		<Nav />

		<div class="mainContentWrapper">
			<div class="mainContent siteWidth">
				<slot />
			</div>
		</div>

		<Footer />

		<GoogleAnalytics />

		<SiteIsOldBanner />
	</body>
</html>

<style is:global></style>
